RichLog{
    scrollbar-size: 1 1;
    scrollbar-color: #FF9000;
    scrollbar-color-hover: white;
    scrollbar-color-active: #FF9000;
    scrollbar-background: transparent;
    scrollbar-corner-color: transparent;
}

RichLog:focus{
    scrollbar-size: 1 1;
    scrollbar-color: #FFFFFF;
    scrollbar-color-hover: #FFFFFF;
    scrollbar-color-active: #FFFFFF;
    scrollbar-background: transparent;
    scrollbar-corner-color: transparent;
}

DataTable{
    scrollbar-size: 1 1;
    scrollbar-color: white;
    scrollbar-color-hover: white;
    scrollbar-color-active: #FF9000;
    scrollbar-background: transparent;
    scrollbar-corner-color: transparent;   
}

DataTable:focus{
    scrollbar-size: 1 1;
    scrollbar-color: white;
    scrollbar-color-hover: white;
    scrollbar-color-active: #FF9000;
    scrollbar-background: transparent;
    scrollbar-corner-color: transparent;
}

#title_row{
    height: 1;
    background: #100C06;
}

#title_text{
    color: #FF9000;
    text-style: bold;
    margin: 0 0 0 1;
}

#title_version{
    color: #00DDFF;
    dock: right;
    margin: 0 1 0 0;
}

#footer_space{
    height: 1;
    background: #100C06;
}

#main_frame{
    border-title-style: bold;
    border: hkey #FF9000;
    background: #100C06;
}

.section-header{
    color: #FF9000;
    margin: 0 0 1 1; 
}

.panel-title{
    margin: 0 0 0 0;
    color: #FF9000;
    border: hkey #FF9000;
    width: 100%;
}


/* ----- Navigation sidebar ----- */

#sidebar_frame{
    width: 17%;
    height: 100%;
}

#sidebar_wrapper{
    margin: 0 1 1 0;
    height: 17;
    background: #FF9000 2%;
}

#sidebar{
    border-bottom: #FF9000;
    padding: 1;
}

#sidebar:focus{
    border-bottom: #FFFFFF;
}


/* ----- Status frame ----- */

#status_frame{
    border-bottom: #FF9000;
    padding: 1;
    width: 100%;
    height: 1fr;
}

#status_wrapper{
    margin: 1 1 1 0;
    height: 1fr;
    background: #FF9000 2%;
}

#status_content{
    height: 6;
    margin: 0 0 1 0;
}

.status-items{
    margin: 0 0 0 0;
}

#status_alert_content_frame{
}

#status_alert_count{
    margin: 0 1 0 0;
}

.status-label{
    margin: 0 0 0 0;
    color: #FF9000;
    height: 1;
}

.status-val{
    color: #00DDFF;
    margin: 0 1 0 0;
    dock: right;
    text-style: bold;
}


/* ----- Content ----- */

#content_frame{
    margin: 0 0 0 0;
}

#content_panel_title{
    margin: 0 0 1 0;
    color: #FF9000;
    border: hkey #FF9000;
    width: 100%;
}

#content{
    border-bottom: #FF9000;
    margin: 0 0 1 1;
    background: #FF9000 2%;
}


/* ----- Footer ----- */

#footer{
    margin: 0 1 0 1;
    width: 1fr;
    height: 1;
}

.footer-key{
    color: #FF9000;
    text-style: bold;
    padding: 0 0 0 1;
}

.footer-desc{
    padding: 0 2 0 0;
}


/* ----- Navigation items ----- */

.nav-item{
    color: #FF9000;
    margin: 1 0 1 1;
}

.nav-selected{
    color: #FFFFFF;
    text-style: bold;
}


/* ----- ProgressBar Settings ----- */

ProgressBar .bar--bar{
    color: #00DDFF;
}

ProgressBar .bar--complete{
    color: #00DDFF;
}

ProgressBar .bar--intermediate{
    color: #00DDFF;
}

ProgressBar Bar{
    color: #001A22;
    width: 1fr;
}


/* ----- Views ----- */

DashboardView, AlertsView, LogsView, ComponentView{
    width: 100%;
    height: 100%;
    padding: 1 1;
}


/* ----- DashboardView ----- */

DashboardView #dash_row_one{
    width: 100%;
    height: 50%;
}

DashboardView #dash_row_two{
    width: 100%;
    height: 45%;
}

DashboardView .dash-panel{
    width: 33%;
    height: 100%;
    border: hkey #FF9000 25%;
    background: #FF9000 3%;
    margin: 0 0 1 1;
}

DashboardView .panel-header{
    height: 2;
    margin: 0 0 1 0;
    border-bottom: #FF9000 10%;
}

DashboardView .dash-section-header{
    margin: 0 0 1 1;
    color: #FF9000;
}

DashboardView .dash-label-row{
    height: 1;
    margin: 0;
}

DashboardView .dash-label{
    color: #FF9000;
    margin: 0 0 0 1;
    padding: 0 0 0 0;
    width: 50%;
}

DashboardView .dash-stat-val{
    margin: 0 2 0 0;
    padding: 0 1 0 0;
    color: #00DDFF;
    text-style: bold;
    dock: right;
}

DashboardView .dash-stat-row{
    width: 100%;
    height: 1;
}

DashboardView .sys-row{
    margin: 1 0 1 0;
    height: 1;
}

DashboardView .sys-label{
    margin: 0 0 0 1;
    color: #FF9000;
    height: 1;
}

DashboardView .sys-val{
    color: #00DDFF;
    margin: 0 2 0 0;
    dock: right;
    text-style: bold;
}

DashboardView #cpu_spark .sparkline--min-color,
DashboardView #proc_cpu_spark .sparkline--min-color{
    color: #FF9000;
}

DashboardView #ram_spark .sparkline--max-color,
DashboardView #proc_ram_spark .sparkline--max-color{
    color: red;
}

DashboardView #ram_spark .sparkline--min-color,
DashboardView #proc_ram_spark .sparkline--min-color{
    color: #FF9000;
}

DashboardView #cpu_spark .sparkline--max-color,
DashboardView #proc_cpu_spark .sparkline--max-color{
    color: red;
}

DashboardView #cpu_bar,
DashboardView #proc_cpu_bar{
    margin: 0 1 0 1;
    padding: 0 0 1 0;
    width: 95%;
    height: 2;
}

DashboardView #cpu_spark,
DashboardView #proc_cpu_spark{
    width: 95%;
    margin: 0 1 2 1;
}

DashboardView #ram_bar,
DashboardView #proc_ram_bar{
    margin: 0 1 0 1;
    width: 95%;
    height: 1;
}

DashboardView #ram_spark,
DashboardView #proc_ram_spark{
    width: 95%;
    margin: 0 1 0 1;
}

DashboardView .edr-load-row{
    margin: 1 0 1 0;
    height: 1;
}

DashboardView .edr-load-label{
    margin: 0 0 0 1;
    color: #FF9000;
    height: 1;
}

DashboardView .edr-load-val{
    color: #00DDFF;
    margin: 0 2 0 0;
    dock: right;
    text-style: bold;
}

DashboardView .uptime-frame{
    margin: 0 0 0 1;
    height: 10;
    layout: grid;
    grid-size: 2 2;
}

DashboardView .uptime-row{
    width: 100%;
    height: 4;
    margin: 0 1 1 0;
    border-left: #FF9000 25%;
    background: #FF9000 2%;
}

DashboardView .comp-uptime-label{
    padding: 1 0 0 1;
    color: #FF9000;
}

DashboardView .uptime{
    color: #00DDFF;
    padding: 0 0 1 1;
}

DashboardView .uptime-event-label{
    color: #FF9000;
    margin: 0 0 0 1;
}

DashboardView .uptime-event-val{
   margin: 0 2 0 0;
   color: #00DDFF;
   dock: right;
   text-style: bold;
}

DashboardView .uptime-stats-row{
   margin: 0 0 1 1;
   height: 1; 
}

DashboardView .offline{
    background: #100C06;
    color: #777777;
}

DashboardView .uptime-row.offline{
    border-left: #FF9000 15%;
}

DashboardView .tele-frame{
    margin: 0 0 1 1;
    height: 1;
}

DashboardView .tele-label{
   color: #FF9000; 
   margin: 0 0 0 1;
}

DashboardView .tele-val{
    margin: 0 2 0 0;
    color: #00DDFF;
    dock: right;
    text-style: bold;
}

DashboardView .procs-frame{
    margin: 0 0 1 1;
}

DashboardView .dash-proc-row{
    margin: 0 0 1 1;
    color: #FF9000;
    width: 100%;
    height: 1;
}

DashboardView .dash-proc-name{
    margin: 0 0 1 1;
}

DashboardView .proc-val{
    margin: 0 2 0 0;
    color: #00DDFF;
    dock: right;
    text-style: bold;
}

DashboardView .alerts-summary-frame{

}

DashboardView .alerts-summary-row{
    margin: 0 0 1 1;
    color: #FF9000;
    width: 100%;
    height: 1;
}

DashboardView .alerts-summary-val{
    margin: 0 2 0 0;
    color: #00DDFF;
    dock: right;
    text-style: bold;
}


/* ----- LogsView ----- */

LogsView #logs_frame{
    margin: 0 0 0 1;
}

LogsView #logs_richlog{
    background: transparent;
    color: #FFFFFF;
    height: 90%;
}


/* ----- AlertsView ----- */

AlertsView #alerts_frame{
   margin: 0 0 0 1;
    height: 85%;
}

AlertsView #alerts_table{
    border: hkey #FF9000 25%;
    background: #FF9000 2%;
}
 AlertsView #alerts_table:focus{
    border: hkey #FFFFFF 100%;
 }

AlertsView #alerts_table .datatable--header{
    background: #FF9000 20%;
    color: #FFFFFF;
    text-style: bold;
}

AlertsView #alerts_table .datatable--cursor{
    background: #FF9000;
    color: #0C0905;
}

AlertsView #alerts_table .datatable--hover{
    background: #F99000 15%;
}

AlertsView #alerts_table .datatable--fixed{
    color: #FF9000;
}

AlertsView #alerts_detail_frame{
    border: hkey #FF9000 25%;
    background: #FF9000 2%;
    margin: 1 0 1 0;
}

AlertsView #alerts_detail_frame:focus-within{
    border: hkey #FFFFFF;
}

AlertsView #alert_detail{
    background: transparent;
}

AlertsView #alerts_path_frame{
    margin: 0 0 1 0;
    height: 10%;
    border: hkey #FF9000 25%;
    background: #FF9000 2%;
}

AlertsView .alerts_path_row{
}

AlertsView .alerts-path-label{
    color: #FF9000;
}

AlertsView .alerts-path-value{
    margin: 0 1 0 0;
    color: #00DDFF;
    dock: right;
}

/* ----- ComponentView ----- */

ComponentView #comp_frame{
    margin: 0 0 1 1;
    height: 90%;
}

ComponentView .comp-item-frame{
    margin: 1;
    height: 6;
    border-left: #FF9000 25%;
}

ComponentView .comp-item{
    height: 1fr;
    padding: 1;
    text-style: bold;
}

ComponentView .comp-item-desc{
    height: 1fr;
    padding: 1;
}

ComponentView .comp-selected{
    color: white;
    border-left: white;
    background: #FF9000 5%;
}

ComponentView .comp-item-offline{
    background: #100C06;
    color: #777777;
}

ComponentView .comp-item-offline.comp-selected{
    color: white;
}

ComponentView .comp-item-online{
    border-left: #FF9000;
    color: #FF9000;
}

ComponentView .comp-item-online.comp-selected{
    border-left: white;
    color: white;
}

ComponentView #comp_item_hint{
    border: hkey #FF6000;
    margin: 2 0 1 1;
    tint: #FF6000 2%;
}
